* {
	direction: rtl;
	text-align: center;
}

.custab {
	border: 1px solid #ccc;
	position: inherit;
	z-index: 2;
	padding: 5px;
	background: #ccc;
	margin: 5% 0;
	box-shadow: 3px 3px 2px #ccc;
	transition: 0.5s;
	padding: 5px;
}

.custab:hover {
	box-shadow: 3px 3px 0px transparent;
	transition: 0.5s;
}

.pager {
	position: inherit;
	z-index: 2;
}

.pagerBT {
	border-radius: 4px;
	background-color: #000000;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	outline: 0;
	float: none;
}

.pagerBT span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.currentViewTab {
	background-color: #ccc;
}

.pagerBT span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.pagerBT2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: 20px;
	transition: 0.5s;
}

.pagerBT:hover span {
	padding-right: 25px;
}

.pagerBT:hover span:after {
	opacity: 1;
	right: 0;
}

body, html {
	height: 100%;
	background-repeat: no-repeat;
	/*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
	background: black;
	position: relative;
}

#login-box {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 350px;
	margin: 0 auto;
	border: 1px solid black;
	background: rgba(48, 46, 45, 1);
	min-height: 250px;
	padding: 20px;
	z-index: 9999;
}

#login-box .logo .logo-caption {
	font-family: 'Poiret One', cursive;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}

#login-box .logo .tweak {
	color: #ff5252;
}

#login-box .controls {
	padding-top: 30px;
}

#login-box .controls input {
	border-radius: 0px;
	background: rgb(98, 96, 96);
	border: 0px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

#login-box .controls input:focus {
	box-shadow: none;
}

#login-box .controls input:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#login-box .controls input:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#login-box button.btn-custom {
	border-radius: 2px;
	margin-top: 8px;
	background: #ff5252;
	border-color: rgba(48, 46, 45, 1);
	color: white;
	font-family: 'Nunito', sans-serif;
}

#login-box button.btn-custom:hover {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #ff5252;
}

#particles-js {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: fixed;
	top: 0%;
	z-index: 1;
}

.week {
	list-style-type: none;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	display: none;
	float: right;
	width: 100%;
}

.week li {
	width: 14%;
	margin-right: .8%;
	float: right;
	text-align: center;
}

.weekTable {
	width: 100%;
	z-index: 2;
	position: relative;
}

.weekTable table {
	width: 14%;
	background: #ccc;
	display: inline-table;
	margin: 0% .5%;
}

.weekTable  th.text-center {
	width: 25%;
	font-size: 0.8vw;
}

.weekTable .table>tbody>tr>td {
	padding: 2% 0%;
	font-size: 1vw;
}


