body {
	background: #cebe29;
	background: -moz-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%,
		#89b4ff 91%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #cebe29),
		color-stop(33%, #9b1f50), color-stop(71%, #2989d8),
		color-stop(91%, #89b4ff));
	background: -webkit-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%,
		#89b4ff 91%);
	background: -o-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%, #89b4ff
		91%);
	background: -ms-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%,
		#89b4ff 91%);
	background: linear-gradient(135deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%, #89b4ff
		91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebe29',
		endColorstr='#89b4ff', GradientType=1);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

.custom-calendar-full {
	position: absolute;
	top: 46px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
	height: auto;
}

.fc-calendar-container {
	height: auto;
	bottom: 0px;
	width: 100%;
	top: 50px;
	position: absolute;
}


.custom-header h2, .custom-header h3 {
	float: left;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.custom-header h2 {
	color: #fff;
	width: 60%;
}

.custom-header h2 a, .custom-header h2 span {
	color: rgba(255, 255, 255, 0.3);
	font-size: 18px;
	letter-spacing: 3px;
	white-space: nowrap;
}

.custom-header h2 a {
	color: rgba(255, 255, 255, 0.5);
}

.no-touch .custom-header h2 a:hover {
	color: rgba(255, 255, 255, 0.9);
}

.custom-header h3 {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 300;
	line-height: 30px;
	text-align: right;
	margin-right: 217px;
	float: right;
}

.custom-header nav {
	position: absolute;
	right: 20px;
	top: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header nav span {
	float: left;
	width: 50px;
	height: 30px;
	position: relative;
	color: transparent;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	margin: 0 3px;
	
	font-size: 16px;
	border-radius: 0 3px 3px 0;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
}

.custom-header nav span:first-child {
	border-radius: 3px 0 0 3px;
}

.custom-header nav span:hover {
	background: rgba(255, 255, 255, 0.5);
}

.custom-header span:before {
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	display: inline-block;
	text-align: center;
	width: 100%;
	text-indent: 4px;
}

.custom-header nav span.custom-prev:before {
	content: '\25c2';
}

.custom-header nav span.custom-next:before {
	content: '\25b8';
}

.custom-header nav span:last-child {
	border-radius: 3px;
}

.custom-header nav span.custom-current:before {
	content: 'היום';
}

.fc-calendar {
	background: rgba(255, 255, 255, 0.1);
	width: auto;
	top: 10px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	height: auto;
	border-radius: 20px;
	position: absolute;
}

.fc-calendar .fc-head {
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 20px 20px 0 0;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}

.fc-calendar .fc-head>div {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.fc-calendar .fc-row>div>span.fc-date {
	color: rgba(255, 255, 255, 0.9);
	text-shadow: none;
	font-size: 26px;
	font-weight: 300;
	bottom: auto;
	right: auto;
	top: 10px;
	left: 10px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.fc-calendar .fc-body {
	border: none;
}

.fc-calendar .fc-row {
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	border: none;
}

.fc-calendar .fc-row:last-child {
	box-shadow: none;
}

.fc-calendar .fc-row:first-child>div:first-child {
	border-radius: 10px 0 0 0;
}

.fc-calendar .fc-row:first-child>div:last-child {
	border-radius: 0 10px 0 0;
}

.fc-calendar .fc-row:last-child>div:first-child {
	border-radius: 0 0 0 10px;
}

.fc-calendar .fc-row:last-child>div:last-child {
	border-radius: 0 0 10px 0;
}

.fc-calendar .fc-row>div {
	box-shadow: 2px 0 0 rgba(255, 255, 255, 0.5);
	border: none;
	padding: 10px;
	overflow-y: inherit;
	cursor: pointer;
}

.event {
	width: 80%;
	display: flex;
	color: #fff;
}

.eventHour {
	float: right;
	margin-left: 10px;
}

.event:hover {
	background: #1cfff8;
	border-radius: 5px;
}

.noCustomers {
	color: #fff;
	text-align: center;
	font-size: 2vw;
}

.eventName {
	width: 50vw;
}

.fc-calendar .fc-row>div:first-child {
	box-shadow: none;
}

.fc-calendar .fc-row>div.fc-today {
	background: transparent;
	box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.1);
}

.fc-calendar .fc-row>div.fc-today:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: #008dff;
}


.fc-calendar .fc-row>div>div a, .fc-calendar .fc-row>div>div span {
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-bottom: 1px;
	background: rgba(255, 255, 255, 0.1);
}

.no-touch .fc-calendar .fc-row>div>div a:hover {
	background: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 990px) {
	
	html, body, .container {
		height: auto;
	}
		#weekView , #dayView , #monthView{display:none;}
#homePage{
    float: right !important;
    right: 3%;
}
.pagerBT{
	float:right !important;
    width: 100% !important;
}
.weekTable table{ width: 100% !important;}
.event{
	   width: 80%;
    display: flex;
    float: none;
    color: #fff;
}

.newDayCustomer[data-id="0"]{display:none}
#particles-js{display:none}

	.custom-header, .custom-header nav, .custom-calendar-full,
		.fc-calendar-container, .fc-calendar, .fc-calendar .fc-head,
		.fc-calendar .fc-row>div>span.fc-date {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		height: auto;
		width: auto;
	}
	.fc-calendar {
		margin: 0 20px 20px;
	}
	.custom-header h2, .custom-header h3 {
		float: right;margin-top: 0%;
		text-align: right;
		    margin-right: 5%;
    width: 92%;
	}
	.fc-calendar .fc-row, .ie9 .fc-calendar .fc-row>div, .fc-calendar .fc-row>div
		{
		height: auto;
		width: 100%;
		border: none;
	}
	.fc-calendar .fc-row>div {
		float: none;
		min-height: 50px;
		box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2) !important;
		border-radius: 0px !important;
	}
	.fc-calendar .fc-row>div:empty {
		min-height: 0;
		height: 0;
		box-shadow: none !important;
		padding: 0;
	}
	.fc-calendar .fc-row {
		box-shadow: none;   
	}
	.fc-calendar .fc-head {
		display: none;
	}
	.fc-calendar .fc-row>div>div {
	display: block;
    left: 25px;
    right: inherit;
    top: 5px;
    width: 10vw;
    height: 10vw;
    position: absolute;
	}
	.fc-calendar .fc-row>div.fc-today {
		background: rgba(255, 255, 255, 0.2);
	}
	.fc-calendar .fc-row>div.fc-today:after {
		display: none;
	}
	.fc-calendar .fc-row>div>span.fc-date {
		width: 30px;margin-left: 2vw;
		display: inline-block;
		text-align: right;
	}
	.fc-calendar .fc-row>div>span.fc-weekday {
		display: inline-block;
		width: 40px;
		color: #fff;
		color: rgba(255, 255, 255, 0.7);
		font-size: 3vw;
		text-transform: uppercase;
	}
	.eventName{
	width: 25vw;    font-size: 5vw;
    margin-right: 8vw;
	}
	.eventHour{
    font-size: 5vw;}
    .event .glyphicon{top: 1.5vw;
    font-size: 4vw;
    display: inline-table;}
    .custom-header h2, .custom-header h3 , #homePage{font-size: 5vw;}
    .custom-header nav span{    width: 15vw;
    height: 10vw;    line-height: 11vw;    font-size: 5vw;}
}