/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/VKKpdi1QvieDs1ewFsxdAg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/-fe1N1QeP0UtBmYG66PGsA.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/9TMYrMQsWjH1a-MkCFFAmg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/_mlO9_1N7oXYhEnEzC2l-g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* hebrew */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: local('Secular One'), local('SecularOne-Regular'), url(https://fonts.gstatic.com/s/secularone/v1/Bt9hCbXtVHCjlv_xsF8oqXdudGbNcHnMRX1fGPsWcjc.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: local('Secular One'), local('SecularOne-Regular'), url(https://fonts.gstatic.com/s/secularone/v1/Bt9hCbXtVHCjlv_xsF8oqSYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: local('Secular One'), local('SecularOne-Regular'), url(https://fonts.gstatic.com/s/secularone/v1/Bt9hCbXtVHCjlv_xsF8oqY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrkByb1TKJa77egybnpn19yM.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
* {
    direction: RTL;
    padding: 0px;
    margin: 0px;
    text-align: right;
        font-family: 'Varela Round', sans-serif;
}
body {
    position: relative;
    overflow-x: hidden;
}
.navbar-brand>img {
    width: 100%;
    margin-top: -10px;
    float: left;
}
.navbar-nav>li {
    float: right;
    margin: 0px 10px;
    font-size:1vw;
}
.bg-primary {
    width: 100%;
    padding: 3%;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 10px;
    background: url("../img/home.jpg") no-repeat;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 100%;
}
section {
    padding: 0px;
}
.navbar-default.affix .nav>li>a {
    font-weight: 600;
    font-size: 1vw;
}
h1 {
    font-size: 4vw !important;
    text-align: center;
}
hr {
    margin: 0 auto !important;
}
.datetimepicker table {
    background: transparent !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.cs-skin-underline>span::after {
    content: '+';
}
.get_form_inner {
    float: right;
    width: 100%;
}
.group {
    position: relative;
    margin-bottom: 20px;
}
.group input {
    font-size: 18px;
    padding: 10px 7px 5px 2px;
    display: block;
    width: 100%;
    background: transparent;
    text-align: right;
    border: none;
    border-bottom: 1px solid #757575;
}
body {
    background-color: #000;
}
.group input:focus {
    outline: none;
}
#facebookIcon{width: 20px;
    float: right;
    font-size: 20px;
    margin: 10px 0px;}
/* LABEL ======================================= */

.group label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.web {
    display: block !important;
}
.mobile {
    display: none !important;
}
/* active state */

.group input:focus ~ label,
input:valid ~ label {
    top: -5px;
    font-size: 14px;
    color: #1cfff8;
}
.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
    color: #1cfff8;
    background: rgba(204, 204, 204, 0.28);
}
#page-top .navbar-default {
    background-color: rgba(154, 154, 154, 0.56);
}
#page-top .navbar-default.affix {
    background-color: rgba(255, 255, 255, 0.79);
}
/* BOTTOM BARS ================================= */

.group .bar {
    position: relative;
    display: block;
}
.container-fluid {
    padding: 0px;
}
.group .bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    color: #1cfff8;
    background: #1cfff8;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.mfp-counter {
    direction: ltr;
}
.group .bar:before {
    left: 50%;
}
.group .bar:after {
    right: 50%;
}
/* active state */

.group input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}
/* HIGHLIGHTER ================================== */

.group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */

@ -webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@ -moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@ keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
.selectboxit-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
/* Styles that apply to all SelectBoxIt elements */

.selectboxit-container * {
    font: 14px Helvetica, Arial;
    /* Prevents text selection */
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    white-space: nowrap;
}
/* Button */

.selectboxit-container .selectboxit {
    width: 220px;
    /* Width of the dropdown button */
    
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    display: block;
    position: relative;
}
/* Height and Vertical Alignment of Text */

.selectboxit-container span,
.selectboxit-container .selectboxit-options a {
    height: 30px;
    /* Height of the drop down */
    
    line-height: 30px;
    /* Vertically positions the drop down text */
    
    display: block;
}
/* Focus pseudo selector */

.selectboxit-container .selectboxit:focus {
    outline: 0;
}
/* Disabled Mouse Interaction */

.selectboxit.selectboxit-disabled,
.selectboxit-options .selectboxit-disabled {
    opacity: 0.65;
    filter: alpha(opacity 65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}
/* Button Text */

.selectboxit-text {
    text-indent: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.selectboxit .selectboxit-option-icon-container {
    margin-left: 5px;
}
/* Options List */

.selectboxit-container .selectboxit-options {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    /* Minimum Width of the dropdown list box options */
    
    *width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    display: none;
    z-index: 9999999999999;
    border-radius: 6px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* Individual options */

.selectboxit-option .selectboxit-option-anchor {
    padding: 0 2px;
}
/* Individual Option Hover Action */

.selectboxit-option .selectboxit-option-anchor:hover {
    text-decoration: none;
}
/* Individual Option Optgroup Header */

.selectboxit-option,
.selectboxit-optgroup-header {
    text-indent: 5px;
    /* Horizontal Positioning of the select box option text */
    
    margin: 0;
    list-style-type: none;
}
/* The first Drop Down option */

.selectboxit-option-first {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
/* The first Drop Down option optgroup */

.selectboxit-optgroup-header+.selectboxit-option-first {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
/* The last Drop Down option */

.selectboxit-option-last {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
/* Drop Down optgroup headers */

.selectboxit-optgroup-header {
    font-weight: bold;
}
/* Drop Down optgroup header hover psuedo class */

.selectboxit-optgroup-header:hover {
    cursor: default;
}
/* Drop Down down arrow container */

.selectboxit-arrow-container {
    /* Positions the down arrow */
    
    width: 30px;
    position: absolute;
    right: 0;
}
/* Drop Down down arrow */

.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    /* Horizontally centers the down arrow */
    
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
/* Drop Down down arrow for jQueryUI and jQuery Mobile */

.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
    top: 30%;
}
/* Drop Down individual option icon positioning */

.selectboxit-option-icon-container {
    float: left;
}
.selectboxit-container .selectboxit-option-icon {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
/* Drop Down individual option icon positioning */

.selectboxit-option-icon-url {
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    float: left;
}
.selectboxit-rendering {
    display: inline-block !important;
    *display: inline !important;
    zoom: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */

.jqueryui .ui-icon {
    background-color: inherit;
}
/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */

.jqueryui .ui-icon-triangle-1-s {
    background-position: -64px -16px;
}
#waze{display: none;}
/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/

.selectboxit-btn {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
    color: #333333;
    background-color: #e6e6e6;
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
}
.selectboxit-default-arrow {
    width: 0;
    height: 0;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.selectboxit-list {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.selectboxit-list .selectboxit-option-anchor {
    color: #333333;
}
.selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor {
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
}
.selectboxit-list>.selectboxit-disabled>.selectboxit-option-anchor {
    color: #999999;
}
.details {
    width: 30%;
    float: right;
    margin-left: 0%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px !important;
}
.modal-content p,
.modal-content h4 {
    color: #000;
    margin-right: 24px;
}
.modal-footer button {
    float: left;
}
.modal-details {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
#schedule>div>.row {
    background: rgba(0, 0, 0, 0.56);
    padding: 3%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 80vh;
}
.cs-skin-underline>span {
    border-bottom: 1px solid #000;
    border-color: inherit;
    font-size: 18px;
    color: #fff;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 24px;
}
.cs-skin-underline>span:focus {
    color: blue;
}
.cs-skin-underline ul span {
    font-size: 14px;
    padding: 3%;
}
.cs-skin-underline .cs-options {
    background: transparent;    position: inherit;
}
.cs-skin-underline ul span {
    width: 40%;
}
.submitNewOrderMobile {
    float: left;
    margin-top: 50px;
}
header .header-content .header-content-inner p {
    text-align: center;
}
.schedulaeBTScroll {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
}
.popup-gallery>div {
    margin: 0.2%;
}
.col-lg-4 {
    width: 32.9%;
}
#map {
    width: 45%;
    height: 86%;
    float: left;
    position: absolute;
    left: 15px;
    top: 19px;
}
#contact {
    background: rgb(73, 71, 71);
    color: #fff;
    padding: 10px;
}
.aboutIcons {
    float: left;
}
.contact i {
    color: #fff;
    font-size: 40px;
}
.contact h3 {
    text-align: center;
        font-family: 'Varela Round', sans-serif;
}
.contact {
    padding: 15px;
    width: 50%;
    float: right;
}
.container {
    width: 100%;
    overflow: hidden;
}
.error {
    color: red !important;
    position: absolute;
    bottom: 1%;
    right: 4%;    font-size: 1vw;
}
/* ============================================================
  INNER BORDER
============================================================ */

.cmn-t-border {
    color: #fff;
    margin: 1% 0.2%;
    background-color: #000000;
    padding: 5px 15px;
}
.cmn-t-border:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 10px #337ab7;
    -moz-box-shadow: inset 0 0 0 10px #337ab7;
    box-shadow: inset 0 0 0 10px #337ab7;
    text-decoration: none;
}
.contactWrapper {
    width: 100%;
    position: relative;
}
.contactWrapper article {
    width: 100%;
    float: right;
}
.contactWrapper article a {
    width: 100%;
}
.contactWrapper article a h3 {
    width: 90%;
    float: right;
    margin: 10px 0px;
    text-align: center;
}
.contactWrapper article a span {
    float: right;
    font-size: 20px;
    margin: 10px 0px;
}
.navbar-right {
    margin-right: 0px !important;
}
.ui-datepicker-next ui-corner-all {
    top: 2%;
    left: 15%;
}
.datetimepicker .datetimepicker-hours span,
.datetimepicker .datetimepicker-minutes span {
    text-align: center;
    height: 38px !important;
}
.datetimepicker table {
    width: 100% !important;
}
.gm-style-iw>div>div {
    color: #000;
}
.godwon {
    width: 40px;
    margin: 58px auto;
    text-align: center;
    position: relative;
    top: 86px;
    display: block;
    margin: auto;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-iteration-count: 50;
    animation-iteration-count: 100;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@ -webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY (-30 px);
    }
    60% {
        -webkit-transform: translateY (-15 px);
    }
}
@ keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY (-30 px);
    }
    60% {
        transform: translateY (-15 px);
    }
}
#datetimepicker {
    float: right;
    min-height: 438px;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#dateTime {
    display: -webkit-box;
    float: left;
    left: 5%;
    width: 50%;
}
#dateTime>img {
    position: absolute;
    display: none;
    top: 5vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.hour {
    width: 50%;
    text-align: center;
    float: right;
    height: 2.5vw;
    cursor: pointer;
    font-size: 1.5vw;
}
#arrowDownToClendar{display:none;}
@media ( max-width: 1025px) {
	.error{font-size:3vw;}
	
#waze{display: block;}
	#arrowUpToClendar , #arrowDownToClendar{
	    position: absolute;
    bottom: 0px;
    float: right;
    left: 0px; display:none;}
    .ui-datepicker .ui-datepicker-title {
        font-size: 2.5vw;
    }
    .details {
        width: 100% !important;
    }
    #datepicker {
        display: none;
        width: 100% !important;
        margin-top: 2%;
        width: 100% !important;
    }
    .col-sm-6 {
        width: 49% !important;
    }
    .cs-skin-underline ul span{
    width: inherit;font-size: 20px;}
    .hoursWrapper {
    background:transparent !important;
        margin-top: 3%;
        border:none !important;
        width: 100% !important;
    }
   #gallery {
    height: 100%;
    overflow: scroll;
}
    .hour {
        width: 25%;    background: rgba(255, 255, 255, 0.31);
        text-align: center;
        float: right;
        height: 3vw;
        cursor: pointer;
        padding-top: 0vw;
        font-size: 2vw;
    }
    header,
    header .header-content {
        padding: 0px !important;
    }
    .ui-datepicker td{    padding: 1px !important;}
    .ui-datepicker-calendar span, .ui-state-default, .ui-widget-content .ui-state-default{
        font-size: 2vw !important;padding-top:0.5vw !important;    height: 3.5vw !important;}
}
@media (max-width: 767px) {
	.details .text-faded{display:none;}
	.group{    margin-bottom: 12px;}
	#gallery{
	height:100% !important;overflow-y: scroll;
    overflow-x: hidden;
	}
	.col-sm-6{width:100% !important;}
	li.active{background: rgba(255, 133, 107, 0.88);}
	.navbar-default .nav>li.active>a{color:#000 !important;}
    .mfp-image-holder .mfp-content {
        max-width: 90%;
    }
    .mfp-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-header {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .contact h3 {
        font-size: 5vw;
    }
    .navbar-right {
        width: 100%;
    }
    h1 {
        font-size: 8vw !important;
    }
    header,
    header .header-content {
        height: 100%;
    }
    .header-content-inner {
        position: absolute;
        left: 0;
        right: 0;
        margin: 50% auto;
    }
    .web {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    #page-top .navbar-default {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .navbar-toggle {
        margin-right: 10px;
    }
    .cmn-t-border {
        padding: 2% 7% 2% 7%;
    }
    
    #contact h2 {
        margin-top: 0px;}
        #contact p{
         margin-bottom: 0px;
        }
    .contact h3 {
        float: left;
        margin-top: 10px;
        margin-left: 23px;
    }
    .contact i {
        margin-top: 4px;
        font-size: 40px;
        float: left;
    }
    .navbar-default .nav>li.active>a,
    .navbar-default .nav>li.active>a:focus {
        font-size: 22px !important;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        font-size: 20px !important;
    }
    .col-lg-4 {
        width: 49%;
    }
    .bg-primary {
        padding: 0px;
    }
    .container {
        padding: 3% 1% !important;
        width: 98%;
    }
    .contact {
        width: 100%;
    }
    #map {
        display: none;
    }
    .details {
        width: 100%;
    }
    #schedule>div>.row {
        padding: 2%;
        height: 90vh;
    }
    #arrowUpToClendar {
        padding-bottom: 0px !important;
        width: 20vw !important;
        top: -1% !important;
        z-index: 12;
    }
    #datepicker {
        width: 100% !important;
        margin-top: 4% !important;
    }
    
    .hoursWrapper{
 width: 100% !important;
 margin-top:2% !important;}
    .ui-datepicker .ui-datepicker-title {
        line-height: 34px;
        font-size: 24px !important;
        height: 35px;
    }
    .ui-datepicker th,
    .ui-datepicker td {
        padding: 0px !important;
    }
    .ui-datepicker-calendar span,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .hour {
        font-size: 1.5vw !important;
    }
    .modal-dialog {
        left: 0;
        right: 0;
        margin: 80px auto;
    }
    .color-10 nav a{font-size: 3vw;}
    .hour {
            height: auto !important;
        width: 25% !important;
        font-size: 18px !important;
    }
    .ui-datepicker-calendar span,
    .ui-state-default,
    .ui-widget-content .ui-state-default {
        font-size: 20px !important;
        height: 8vw !important;
    }
    .navbar-nav>li {
        width: 100%;
        margin: 0px;
    }
    .cs-options li {
        width: 50%;
        float: right;
    }
    .cs-skin-underline ul span {
        width: 80%;font-size: 20px;
    }
    .datetimepicker table tr td span {
        width: 31% !important;
        text-align: center;
    }
    .datetimepicker th.switch {
        width: 200px !important;
    }
    #datetimepicker {
        width: 100%;
        margin-top: 80px;
    }
    #map {
        height: 280px;
    }
    .col-lg-4 {
        float: left;
    }
}
@media ( max-width: 991px) {
    .cmn-t-border {
        float: left;
        width: 100%;
    }
}
/*****************************/

#datepicker {
    float: right;
    width: 45%;
}
.hoursWrapper {
    display: none;
    width: 23%;
    float: left;
    background: rgba(255, 255, 255, 0.31);
    border: 1px solid #c5c5c5;
}
.ui-datepicker td {
    width: 14.285%;
}
#ring {
    display: none;
}
.hourHover {
    background: #1cfff8 !important;
}
.hour.current {
    background: #F05F40 !important;
}
.ui-widget.ui-widget-content,
.ui-datepicker .ui-datepicker-header {
    width: 100%;
    background: rgba(255, 255, 255, 0.31)
}
.ui-datepicker-calendar span,
.ui-datepicker-month,
.ui-datepicker-year {
    color: #fff;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    rgba (245, 145, 124, 0.85)!important
}
.ui-datepicker-unselectable .ui-state-disabled {
    background: #f6f6f6
}
.ui-state-default:hover {
    background: #1cfff8 !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-size: 1.5vw;
}
.ui-datepicker-calendar span,
.ui-state-default,
.ui-widget-content .ui-state-default {
    padding-top: 0.5vw;
    font-size: 1vw;
    font-weight: 600;
     height: 2.5vw;
}
#arrowUpToClendar {
    margin: 0px auto;
    padding-bottom: 98px;
    display: none;
    position: absolute;
    top: -1%;
    cursor: pointer;
    left: 0;
    right: 0;
    width: 100px;
}
#arrowUpToClendar:hover {
    opacity: 0.7;
}
.submitNewOrder {
    position: absolute;
    bottom: 5%;
    right: 0px;
    left: 0px;
    margin: 0 auto;
}
.ui-widget-header .ui-icon {
    width: 25px;
    height: 25px;
    outline: 0;
    background-image: none;
    background-position: center;
}
.ui-datepicker-next span {
    background-image: url(../img/left_arrow.png);
    background-position: center;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    width: 25px;
    height: 25px;
}
.ui-datepicker .ui-datepicker-prev span {
    background-image: url(../img/right_arrow.png);
    outline:0px;
}
.ui-datepicker .ui-datepicker-next {
    background: transparent;
    background-image: url(../img/left_arrow.png);
    outline:0px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2%;
    top: 15%;
}
.ui-datepicker .ui-datepicker-prev {
    right: 2%;
    top: 15%;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 2%;
    top: 15%;
    outline: 0;
    border: transparent;
    border-radius: 0px;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
       right: 2%;
    top: 15%;
    outline: 0;
    border: transparent;
    background: transparent;
    border-radius: 0px;
}
/*login*/

.loginButton {
    margin-top: 10px;
    background-color: #5bc0de;
    border: 1px solid #2e6da4;
    
    font-family: 'Varela Round', sans-serif;
}
#loginModal .btn-primary {
    background-color: #337ab7;
}
#loginModal .group input:focus ~ label,
input:valid ~ label {
    color: #fff;
    float: right;
    top: -5px;
    height: 34px;
}
#loginModal .form-group {
    float: right;
}
#loginModal .input-group-addon {
    padding: 9px 12px;
    width: 40px;
    top: 0px;
    float: right;
}
#loginModal .input-group .form-control {
    width: 200px;
}
.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}
.newDayCustomer:hover .addCustomer {
    display: block;
}
.addCustomer {
    display: none;
    background: #ccc;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
    font-size: 26px;
    font-weight: 300;
    bottom: auto;
    right: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    margin-left: auto;
    /* text-align: left; */
    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-right: auto;
}
#homePage {
    position: relative;
    z-index: 10;
    left: 2%;
    float: left;
}
.cl-effect-8 a {
    position: relative;
    display: inline-block;
    margin: 0px auto;
    outline: none;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}
.cl-effect-8 a:hover,
.cl-effect-8 a:focus {
    outline: none;
}
/* Effect 13: three circles */

.cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    font-size:18px !important;
}
.cl-effect-13 a::before {
    position: absolute;
    top: 60%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}
.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
    color: #000;
    text-shadow: 10px 0 #000, -10px 0 #000;
}
.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
    color: #000;
}
/* Effect 8: border slight translate */

.cl-effect-8 a {
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.cl-effect-8 a::before,
.cl-effect-8 a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.cl-effect-8 a::after {
    border-color: #354856;
    opacity: 0;
    -webkit-transform: translateY(-7px) translateX(6px);
    -moz-transform: translateY(-7px) translateX(6px);
    transform: translateY(-7px) translateX(6px);
}
.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
    opacity: 0;
    -webkit-transform: translateY(5px) translateX(-5px);
    -moz-transform: translateY(5px) translateX(-5px);
    transform: translateY(5px) translateX(-5px);
}
.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px);
}
/* Effect 10: reveal, push out */

.cl-effect-10 {
    position: relative;
    z-index: 1;
    float: right;
}
.cl-effect-10 a {
    overflow: hidden;
    margin: 0 15px;
}
.cl-effect-10 a span {
    display: block;
    padding: 10px 20px;
    background: #000;
    color: #1cfff8;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cl-effect-10 a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #0f7c67;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-25%);
}
.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}
.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}
.color-10 {
    position: absolute;
    bottom: 0px;
    float: right;
    left: 0px;
}
.color-10 nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    outline: none;
}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#datepicker {
        display: block;
        width: 100% !important;
        margin-top: 2%;
        width: 100% !important;
    }
}
